<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/heroic-features.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Top of page
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 text-center">
	
	

<div class="parent">
    <img class="child" src="../static/horse2.png"/>
</div>
	

<script>
function showValue(newValue)
{
document.getElementById("value").value=newValue;
}

function showValue2(newValue)
{
document.getElementById("termvalue").value=newValue;
}
</script>

      <h1 class="display-3 text-white">Welcome to Lending Solutions!</h1>
	        <p class="lead text-white">How much would you like to borrow?</p>
	  <div class="slidecontainer">
  <input type="range" min="1" max="50000" value="10000" class="slider" id="myRange", onchange="showValue(this.value)">
</div>
<p id="tbox1">
<input type="text" id="value">
</p>


	        <p class="lead text-white">What is your preferred term of loan?</p>
	  <div class="slidecontainer">
  <input type="range" min="1" max="20" value="2" class="slider" id="myRange2" onchange="showValue2(this.value)">
</div>



<p id="tbox2">
<input type="text" id="termvalue">
</p>




      <a href="#products" class="btn btn-primary btn-lg">Show me the products!</a>
    </header>

    <!-- Page Features -->
    <div id="products" class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../static/coins.PNG" alt="">
          <div class="card-body">
            <h4 class="card-title">Current accounts</h4>
            <p class="card-text">Our current accounts have competitive interest rates on overdrafts.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../static/loan.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Loans</h4>
            <p class="card-text">Why not take out a loan?</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../static/car.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Car finance</h4>
            <p class="card-text">Car finance can be a nifty way to buy a car.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../static/creditcard.PNG" alt="">
          <div class="card-body">
            <h4 class="card-title">Credit Card</h4>
            <p class="card-text">Credit cards can be a handy lending solution!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Lending Solutions 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>


